:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
margin: 0px;
padding: 0px;
  color: rgba(255, 255, 255, 0.87);
  background: #000000;
  background-color: #000000;
/* background: url('https://img.freepik.com/premium-photo/blue-background-with-purple-background_1064085-320.jpg') center center / cover no-repeat; */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  padding: 0;
}